@media (min-width:1044px) {
    .leaflet-control-layers{
        padding: 6px 10px 6px 6px;
        color: #333;
        background: #fff;
    }

    .leaflet-control-layers-toggle{
        display:none !important;
    }

    .leaflet-control-layers-list{
        display:block !important;
        overflow-y: scroll;
        overflow-x: hidden;
        padding-right: 5px;
        padding-top: 0;
        padding-bottom: 0;
    }
}

@media (max-width:1043px) {
    .leaflet-control-layers-list{
        padding-right: 5px;
        padding-top: 0;
        padding-bottom: 0;
    }
}
